# Ignore Mac DS_Store files and other known temporary files
.DS_Store
.ndi
*.ndi
*.tmp
*.swp
*.asv
*.m~
docs/documents/*
docs/reference/
docs/mkdocs-references.yml
mkdocs.yml
site/*
__pycache__
